@model BookStore.Domain.Entities.Book
<div class="well">
    <h3>
        <strong>@Model.Title</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>
    @*<span class="lead">@Model.Description</span>*@
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="">
            <input type="submit" class="btn btn-success" value="Add to cart" />
            @Html.HiddenFor(b => b.BookId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)


        </div>
    }
</div>

